@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* components/Header.tsx */
.menu-item:hover .submenu {
  display: block;
}

.menu-item a {
  font-family: "Montserrat", sans-serif;
  color: #7a7a7a;
  font-size: 15px;
  font-weight: 700;
  text-transform: none;
  line-height: 1.4;
}

.menu-item {
  position: relative;
}

@media (min-width: 1024px) {
  .submenu {
    display: none;
  }
}

.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 8px;
  z-index: 10;
}

.subMenu-links {
  font-family: sans-serif !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  line-height: 0.5 !important;
}

.subMenu-links:hover {
  color: #e04040;
}

#tdi_102 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article {
  display: flex;
  overflow: hidden;
}

.details {
  font-size: 16px;
}

/* make the checkmark inside the checkbox red and square shaped instead of a tick */
.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  user-select: none;
  flex-shrink: 0;
  border-radius: 0.25rem;
  height: 1rem;
  width: 1rem;
  color: #e04040;
  border: 1px solid #000;
  transition: all 0.3s;
}

/* make the checkmark inside the checkbox red and square shaped instead of a tick a little smaller than the actual box */

.form-checkbox:checked {
  background-color: #e04040;
  border-color: #e04040;
  width: 0.75rem;
  height: 0.75rem;
}
